.Contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  max-width: var(--container-width);
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.Header {
  font-family: var(--header-font);
  font-size: 1.5rem;
  color: #000;
  text-align: center;
  margin-bottom: 1rem;
}

.Link {
  text-decoration: none;
  color: #000;
  transition: background-color 0.5s ease-out 30ms, color 0.5s ease-out 30ms;
  outline: none;
  animation-name: navigation;
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
}

.Text {
  margin-left: 0.3rem;
}
