:root {
  --regular-font: 'Montserrat', sans-serif;
  --header-font: 'Bebas Neue', sans-serif;
  --handwriting-font: 'Ms Madi', serif;
  --black: #050c12;
  --accent: #2196F3;
  --red: #FF0000;
  --container-width: 60vw;
}
